.error-page-wrapper {
    min-height: calc(100vh - (100px + 100px));
    text-align: center;
    cursor: default;
    background-color: #ffffff;
    overflow: auto;
    display: flex;
    align-items: center;
}

.error-page-msg {
    margin: auto;
    font-size: 19px;
}
