.blog-posts-content {
    max-width: 1200px;
    margin: auto;
    overflow: auto;
    padding: 40px;
}

.blog-posts-top-header {
    width: 100%;
    height: 52px;
    line-height: 52px;
    user-select: none;
}

.blog-posts-page-label {
    display: inline-block;
    font-size: 18px;
    cursor: default;
}

.blog-posts-add-new-btn-container {
    display: inline-block;
    float: right;
}

.blog-posts-add-new-btn-container a {
    text-decoration: none;
}

.blog-posts-add-new-btn {
    font-size: 14px;
    width: 140px;
    white-space: nowrap;
    border-radius: 2px;
    background-color: rgb(0, 0, 0, 0.75);
    color: #fff;
    font-family: inherit;
    text-align: center;
}

.blog-posts-list-container {
    margin-top: 30px;
}

.blog-posts-list-tab-btns {
    width: 100%;
    overflow: auto;
}

.blog-posts-list-tab-btn-container {
    width: 50%;
    float: left;
    text-align: center;
    height: 50px;
    line-height: 50px;
    user-select: none;
}

.blog-posts-list-tab-btn {
    font-size: 15px;
    color: rgb(0, 0, 0, 0.95);
    background-color: #d1d1d1;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.blog-posts-list-tab-btn.active {
    background-color: rgb(186, 51, 58, 0.85);
    color: #fff;
}

.blog-posts-list-items-table {
    margin-top: 30px;
}

.blog-posts-list-items-table-header {
    border-bottom: 1.75px solid #d1d1d1;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(0, 0, 0, 0.9);
    cursor: default;
}

.blog-posts-list-items-table-header-item {
    display: inline-block;
}

.blog-posts-list-items-table-header-item.title {
    width: 65%;
}

.blog-posts-list-items-table-header-item.date {
    width: 25%;
}

.blog-posts-list-items-table-header-item.edit {
    width: 10%;
}

.blog-posts-list-items-table-item {
    border-bottom: 1.75px solid #e3e3e3;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.9);
    cursor: default;
}

.blog-posts-list-items-table-item-data {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-posts-list-items-table-item-data.title {
    width: 65%;
}

.blog-posts-list-items-table-item-data.date {
    width: 25%;
}

.blog-posts-list-items-table-item-data.edit {
    width: 10%;
}

.blog-posts-list-items-table-item-data.edit a {
    text-decoration: none;
    color: inherit;
}

.blog-posts-list-items-table-item-data.edit a:hover {
    text-decoration: underline;
}

.blog-posts-list-get-data-error {
    width: 100%;
    text-align: center;
    margin-top: 150px;
}
